/*
    *Diseño para pc
*/

@font-face {
    font-family: 'RobotoSlab';
    src: url('fuentes/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}

:root {
    --color-azul: #0A3871;
    --color-blanco: #F3F5FC;
    --color-dorado: rgb(241, 196, 15);
    --color-rojo: rgb(220, 53, 69);
}

* {
    font-family: 'RobotoSlab';
}

body {
    background-color: var(--color-blanco);
}

header,
article,
.botonesForm {
    display: flex;
}

header,
.botonesForm {
    justify-content: space-around;
    align-items: center;
}

h1,
h2,
h3,
label {
    text-transform: uppercase;
    line-height: 1.5;
}

.logo img {
    height: 100px;
}

.divEncriptador form textarea,
.divRespuesta textarea {
    width: 90%;
}

.divEncriptador form textarea {
    height: 70px;
}

.divRespuesta textarea {
    background-color: transparent;
}

header,
article {
    background-color: var(--color-dorado);
}

header,
article,
.avisoError img,
.divEncriptador form textarea,
.botonesForm button,
.divRespuesta textarea,
.btn-black button {
    border: 2px groove black;
    border-radius: 30px;
}

.divEncriptador form textarea {
    height: 65px;
}

.divRespuesta textarea {
    background-color: transparent;
    border-color: transparent;
    color: var(--color-azul);
    text-shadow: 2px 2px 4px var(--color-rojo);
}

.divEncriptador div {
    margin-left: 10px;
}

.divEncriptador {
    width: 60%;
}

.avisoError,
.divRespuesta {
    width: 40%;
}

.avisoError img {
    width: 70%;
}

.avisoExito img {
    width: 50%;
}

.avisoError img,
footer,
.botonesForm button {
    margin-top: 6px;
    margin-bottom: 6px;
}

header,
.avisoError,
.avisoExito,
footer,
.divRespuesta,
.divRespuesta textarea,
.btn-black button {
    text-align: center;
}

.botonesForm button,
.btn-black button {
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.botonesForm button,
.divEncriptador form textarea,
.btn-black button, .respuesta {
    padding-left: 15px;
}

.btn-blue,
.btn-white,
.btn-black button {
    text-transform: capitalize;
}

.divRespuesta textarea,
.btn-blue,
.btn-white,
.btn-black button {
    font-weight: bold;
}

.btn-blue {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    border-color: black;
}

.btn-white {
    background-color: var(--color-blanco);
    color: var(--color-azul);
    border-color: var(--color-azul);
}

.btn-black button {
    background-color: black;
    color: var(--color-blanco);
    background-color: black;
    border-color: var(--color-blanco);
}

.btn-black button:hover {
    background-color: var(--color-blanco);
    color: black;
    border-color: black;
}

.btn-blue:hover {
    background-color: var(--color-blanco);
    color: var(--color-azul);
    border-color: var(--color-azul);
}

.btn-white:hover {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    border-color: var(--color-blanco);
}

.formatoIncorrecto {
    color: var(--color-rojo);
    font-size: smaller;
    font-weight: bold;
}

footer,
footer a {
    text-decoration: none;
    color: var(--color-azul);
}

.divOculto {
    display: none;
}

/*
*  Diseño para mobilea
*/
@media (max-width: 720px) {

    * {
        font-size: 100%;
    }

    header div,
    .divRespuesta div,
    .avisoError img {
        width: 33%;
        height: 50%;
    }

    .logo img {
        height: 50%;
    }

    .logo img,
    .divRespuesta,
    .divEncriptador,
    .avisoError {
        width: 100%;
    }

    header,
    h2,
    form {
        text-align: center;
    }

    form textarea {
        width: 70%;
    }

    article {
        display: block;
    }

    .divRespuesta,
    .divRespuesta textarea {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .imgOculta,
    .divOculto {
        display: none;
    }

}